<% layout("/layouts/boilerplate") %>
<title>WonderStay | Home</title> 
<link rel="stylesheet" href="/css/index.css">

<body>
  <br>
     <div class="section1">
      <div class="section2">
     <div class="container mb-2">
      <div class="filters-wrapper">
     <div id="filters">

      <a href="/listings?category=Tending" class="filter <%= currentCategory = 'Tending' ? 'active' : '' %>">
        <div><i class="ph-bold ph-fire"></i></div>
        <p>Trending</p> 
      </a>

      <a href="/listings?category=Beach" class="filter <%= currentCategory = 'Beach' ? 'active' : '' %>">
        <div><i class="ph-bold ph-island"></i></div>
        <p>Beach</p> 
      </a>


      <a href="/listings?category=Rooms" class="filter <%= currentCategory = 'Rooms' ? 'active' : '' %>">
          <div><i class="ph-bold ph-bed"></i></div>
          <p>Rooms</p> 
      </a>

      <a href="/listings?category=Buildings" class="filter <%= currentCategory = 'Buildings' ? 'active' : '' %>">
        <div><i class="ph-bold ph-buildings"></i></div>
        <p>Buildings</p> 
      </a>

      <a href="/listings?category=Pools" class="filter <%= currentCategory = 'Pools' ? 'active' : '' %>">
          <div><i class="ph-bold ph-person-simple-swim"></i></div>
          <p>Pools</p> 
      </a>

        
      <a href="/listings?category=Mountains" class="filter <%= currentCategory = 'Mountains' ? 'active' : '' %>">
        <div><i class="ph-bold ph-mountains"></i></div>
        <p>Mountains</p> 
      </a>

      <a href="/listings?category=Arctic" class="filter <%= currentCategory = 'Arctic' ? 'active' : '' %>">
        <div><i class="ph-bold ph-snowflake"></i></div>
        <p>Arctic</p> 
      </a>

        
      <a href="/listings?category=Camping" class="filter <%= currentCategory = 'Camping' ? 'active' : '' %>">
        <div><i class="ph-bold ph-campfire"></i></div>
        <p>Camping</p> 
      </a>
    </div>

        <div class="tax-toggle">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Taxes</label>
          </div>
        </div>
      </div>
     </div>
    </div>
    </div>

   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mb-2">
    <% for(let listing of allListing){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col">
                <img src="<%= listing.image.url || listing.image%>" class="card-img-top" alt="listingimage" style="height: 20rem;"/>
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>
                    <i class="tax-info"> &nbsp; +18% GST</i>
                  </p>
                </div>
              </div>
          </a>
      <% } %>
   </div>
  </div>  <!-- container -->
</body>


<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click",() => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo) {
      if(info.style.display != "inline"){
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  })
</script>

