<% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>

<style>
    .extra {
        height: 300px;
        width: 1300px;
        display: flex;
        margin-top: 30px;
    }

    .box1 {
        width: 433px;
        padding-right: 8px;
    }

    .box2 {
        width: 433px;
        padding-right: 8px;
    }

    .box3 {
        width: 433px;
    }

    .input-group-extra {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .words {
        font-size: 0.85rem;
    }

    .link-extra a{
        color: gray;
    }

    .link-extra a:hover {
        color: black;
    }
</style>
<body>
    <div class="row mt-3">
        <!-- <div class="col-8 offset-3 mt-2">
            <h3>All listing details</h3>
        </div> -->
        <div class="col-8 offset-3 mt-2">
            <h3> <b> <%= listing.title %> </b> </h3>
        </div>
    <div class="card col-6 offset-3 mt-2 show card">
        
        <img src="<%= listing.image.url || listing.image%>" class="card-img-top show-img" alt="listingimage">
        <div class="card-body">
            <p class="card-text"> 
                <b><%= listing.title %></b> <br>
                <i>Owned by <%= listing.owner.username %></i>
                <br>
                <br>
                <%= listing.description %> <br>
                &#8377;<b><%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %></b> <br>
                <%= listing.location %> <br>
                <%= listing.country %> <br> 
            </p>
        </div>
    </div>
    <br>

    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" 
            class="btn col-1 offset-3 btn-show">Edit</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-4">Delete</button>
    </form>
    </div>
    <% } %>
    

    <div class="col-5 offset-3 mb-3">
        <hr>
        <% if(currUser) { %>
        <h3>Add a Review</h3>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation"  novalidate>
            <!-- <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" name="review[rating]" class="form-range"/>
            </div> -->

            <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-fade">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>

            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add the Comments</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr> 
        <% } %> 

        
        <% if(listing.reviews.length > 0) { %>
        <div class="row">
            <p><b>All Reviews</b></p>
            <% for(review of listing.reviews) { %>
                <div class="card-review col-5.5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-2"> @ <%= review.author.username %></h5>
                        <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                        <p class="card-text"> <%= review.comment %> </p>
                    </div>
                    <form class="mb-3 mt-2" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>
        <% } %>
    </div>
    <div class="col-5 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>

    <div class="mb-5">
        <hr>
        <h3>Things to know</h3>
        <div class="extra">
            <div class="box1">
                <p>HarHari</p>
                <div class="input-group-extra">
                    <i class="ph ph-key"></i>
                </div>
                
                <h6>House Rule</h6>
                <div class="words">
                    <p>
                        Check-in after 11:00 am <br>
                        Checkout before 8:00 am <br>
                        5 guests maximum
                    </p>
                </div>

                <div class="link-extra">
                    <a href="/">Learn more</a>
                </div>
            </div>

            <div class="box2">
                <p>HarHari</p>
                <div class="input-group-extra">
                    <i class="ph ph-shield"></i>
                </div>
                <h6>Safety & Property</h6>
                <div class="words">
                    <p>Carbon monoxide alarm not reported <br>
                        Smoke alarm not reported <br>
                        Exterior security cameras on property
                    </p>
                </div>
                <div class="link-extra">
                    <a href="/">Learn more</a>
                </div>
            </div>

            <div class="box3">
                <p>HarHari</p>
                <div class="input-group-extra">
                    <i class="ph ph-calendar"></i>
                </div>
                <h6>Cancellation policy</h6>
                <div class="words">
                    <p>
                        Free cancellation before 11:00 am on particular date. <br>
                        Cancel before check-in within one day for a partial refund. <br>
                        Review this host's full policy for details.
                    </p>
                </div>
                <div class="link-extra">
                    <a href="/">Learn more</a>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="/js/map.js"></script>
</body>

